extends layout

block header
	// STYLES
	// STYLES END
	// TEMPLATES
	// TEMPLATES END
	// SCRIPTS
	// SCRIPTS END

block title
	| Hello World!

block core
	h1 Welcome!
	p This is the homepage of your sailsjs project.
