doctype html

html
	head
		block header

		title
			block title

	body
		#wrapper
			#north
				block north
			#main
				#core
					block core
				#west
					block west
				#east
					block east
			#south
				block south
